* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-bar>input,.search-bar label{
  display: block;
  padding: 4px;
  color: aliceblue;

}

.filter-table{
  margin: 20px 20px;
}

.product-table{
  width: 300px;
  text-align: left;
  border-collapse: collapse;
}

.product-table th, .product-table td{
  border: 2px solid silver;
  padding: 2px 4px;
  background-color: antiquewhite;
}

.category-row{
  text-align: center;
}

.text-red{
  color: red;
}

body{
  border: 2px solid silver;
  border-radius: 12%;
  width: 350px;
  position: relative;
  top: 200px;
  left: 590px;
  background-image: url('https://wallpaperm.cmcm.com/5d59d6351156fc7053289602edb887df.jpg');
}